{{ include "qrh/qrhheader.html" }}


    <div class="container-fluid">

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
          <h1>{{=message}}</h1>
        </div>
      </div>

        {{for i in options:}}
      <div class="col-md-12">
          {{=i['object']}}
      </div>
        {{pass}}

    </div>

    <script type="text/javascript">
      $( function () {
        $('#showFields').on('click', function () {
          $('.collapse').toggle();
        });
        $("#hrm_human_resource_start_date").datepicker( "setDate", new Date());
        $('#hrm_human_resource_person_id_title__row').hide();
      });
    </script>
{{ include "qrh/qrhfooter.html" }}
